#Banner {
    margin-top: 50px;
    position: relative;
    
}

#Banner img {
    width: 100%;
    height: 100%;
    
}

#Banner .Notis{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

#Banner h2 {
    font-size: 28px;
    color: #fff;
    
}

#Banner p {
    color: aliceblue;
    
}

#Banner a {
    display: block;
     width: 100px;
    color: aliceblue;
    text-decoration: none;
    padding: 7px;
    margin-top: 10px;
    border: 3px solid #fff;
    
}

#Banner a:hover {
    background: rgba(51,51,51,0.5);
    
}